
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <p>
        Vällkommen till bröllopsfeber!
    </p>
    <p>
        Här så kan du titta upp all information om allt om Bröllopsfeber.
        Bröllopsferbern är en mässa för allt om bröllop. Här kan du hitta en lista och infromation om olika utställare.
        Om du vill köpa en billjet till mässan så klicka på länken till billjet förseljningen.
        Om du vill se information om olika utställare så klicka på länken "Utställare".
    </p>
    <p>

    </p>
</div>